<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>

<body>
    <h2>Edit Product:
        <%= product.name %>
    </h2>

    <form action="/update/<%= product.id %>" method="post">
        <label>Name:</label><br>
        <input name="name" value="<%= product.name %>" required><br><br>

        <label>Price:</label><br>
        <input name="price" type="number" value="<%= product.price %>" required><br><br>

        <label>Quantity:</label><br>
        <input name="quantity" type="number" value="<%= product.quantity %>" required><br><br>

        <button type="submit">Update Product</button>
        <a href="/" style="margin-left: 10px;">Cancel</a>
    </form>
</body>

</html>